@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Audiowide&family=Black+Ops+One&family=Chakra+Petch:wght@300;400;500;600;700&family=Courgette&family=Electrolize&family=Hahmlet:wght@100;200;400;500;600;700;800&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Press+Start+2P&family=Roboto+Serif:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800&family=Skranji:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-image: url(assets/bg.jpeg);
}
h1 {
    font-weight: 600;
    font-size: 3pc;
}
.home p {
    font-size: 18px;
}
a {
    color: brown;
    text-decoration: none;
    border-radius: 7px;
    padding: 10px 15px;
    margin-top: 15px;
    transition: .3s;
    border: 1px solid brown;
}
a:hover {
    /* on hover make the link color to white and background color to brown*/
}
#one,
#two {
    padding: 20px;
    /* Align the text to center*/
}
#one {
    color: white;
    background-color: brown;
}
#two {
    color: brown;;
}
#three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.box-1,
.box-2,
.box-3 {
    width: 33.33%;
    padding: 20px;
}
.box-1,
.box-3 {
    color: white;
    background-color: brown;
}